@media screen and (min-width: 660px) {
  .box-user {
    position: absolute;
    width: 300px;
    height: 300px;
    margin-top: 70px;
    right: 40px;
    z-index: -1;
    opacity: 0;
    top: -150px;

    background-color: yellow;
    box-shadow: 0 0 15px 1px rgb(117, 117, 117);
    transition: all 0.2s ease;
  }
  .box-user.open {
    top: 0;
    z-index: 0;
    opacity: 1;
  }
}
