@import url("../app.css");

.box-title {
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
}
.box-name {
  height: 100%;
  width: 400px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.box-mini-img {
  height: 100%;
  display: flex;
  align-items: center;
}
.box-mini-img img {
  height: 90%;
  width: auto;
}
.title {
  display: flex;
  flex-direction: column;
}
.title h2 {
  margin: 0;
  font-size: 24px;
  font-weight: 600;
}
.title p {
  margin: 0;
  font-size: 12px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
}
.box-score {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.valoracion {
  height: 20px;
  width: 100%;
  background-image: url("../asset/img/icons/calificacion.png");
  background-size: 70%;
  background-position: center;
  background-position-x: 70px;
  background-repeat: no-repeat;
}
.btns-valoracion {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.meGusta,
.noMeGusta {
  height: 20px;
  width: 20px;
  background-size: cover;
  transition: all 0.3 ease;
}
.meGusta {
  background-image: url("../asset/img/icons/meGusta.png");
}
.noMeGusta {
  background-image: url("../asset/img/icons/noMeGusta.png");
}
.meGusta:hover {
  background-image: url("../asset/img/icons/MeGustaAzul.png");
  cursor: pointer;
}
.noMeGusta:hover {
  background-image: url("../asset/img/icons/noMeGustaRojo.png");
  cursor: pointer;
}
.meGusta:active,
.noMeGusta:active {
  scale: 1.1;
}

.share {
  height: 20px;
  width: 20px;
  background-image: url("../asset/img/icons/share.png");
  background-size: cover;
}
.share:hover {
  cursor: pointer;
}
.share:active {
  scale: 1.1;
}
.featured {
  background-image: url("../asset/img/fondo-joy.png");
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
}
.box-game {
  width: 1100px;
  height: 600px;
  border: 9px solid #413f3f;
  border-radius: 20px;
  z-index: 1;
  position: relative;
}
.resultGame {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
  color: white;
}
.resultGame h1 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 0 10px black;
}
.resultGame.open {
  z-index: 3;
}
.blurGame {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  backdrop-filter: blur(5px);
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.blurGame.close {
  z-index: -1;
}

.selecGame {
  height: 100px;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.selecGame div {
  display: flex;
  gap: 20px;
}
.btnGame {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  background-color: gray;
  transition: all 0.2s ease;
}
.btnGame:hover {
  cursor: pointer;
  background-color: white;
}
.btnGame:active {
  scale: 0.9;
}
.selected {
  background-color: white;
}
.selecPlayer {
  height: 330px;
  width: 100%; /* 
  background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
}
.selecPlayer img {
  max-height: 200px;
}
.imgSelectPlayer {
  transition: all 0.2s ease;
}
.imgSelectPlayer:hover {
  cursor: pointer;
  scale: 1.3;
}
.playerSelec {
  filter: grayscale(100%);
}
.btnGameSeleccion {
  border-radius: 20px;
  border: none;
  background-color: white;
  transition: all 0.2s ease;
  padding: 2px 10px;
  transition: all 0.2s ease;
}
.btnGameSeleccion:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
.errorGame {
  text-align: center;
  font-weight: 700;
  background-color: white;
  color: red;
  margin: 0;
}
.btn-jugar {
  z-index: 3;
  width: 200px;
  height: 60px;
  position: absolute;
  left: calc(50% - 100px);
  top: 80%;
  padding: 5px 10px;
  background-color: #9a378a;
  color: black;
  font-size: 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid black;
  box-shadow: 0 0 20px 5px black;
  transition: 0.5s;
}
.btn-jugar:hover {
  background: black;
  color: #9a378a;
  box-shadow: 0 0 15px #9a378a, 0 0 25px #9a378a, 0 0 50px #9a378a,
    0 0 200px #9a378a;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}
.btn-jugar:active {
  scale: 1.05;
}

.box-intruction {
  width: 20%;
  height: 600px;
  background-color: #413f3f;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  /* padding: 15px; */
  text-align: center;
}
.box-intruction h2 {
  margin: 0px;
  font-weight: 700;
}
.box-intruction p {
  margin: 0px;
  margin-top: 15%;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.9);
}
.box-team {
  display: flex;
  gap: 0px;
  width: 100%;
}
.box-team div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-team img {
  height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.box-team p {
  margin: 0;
  font-size: 12px;
}

.cuerpo {
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 65px;
}
.leftCuerpo {
  width: 75%;
}
.leftCuerpo h2 {
  color: var(--color-primario);
}

.description {
  width: 100%;
  text-align: justify;
}
.images {
  height: 400px;
  width: 97%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 20px;
}
.mini-images {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mini-images div {
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.mini-images img {
  height: 100px;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.mini-images img:hover {
  cursor: pointer;
}
.mini-images img:active {
  scale: 1.05;
}
.activeBtnImg {
  box-shadow: 0 0 5px 2px var(--color-primario);
}
.separator-images {
  height: 100%;
  width: 2px;
  margin: 10px;
  background-color: black;
}
.primary-image {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.primary-image img {
  max-width: 400px;
  position: absolute;
  border-radius: 10px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.8);
}
.slide {
  opacity: 0;
  transition: opacity 1s;
}
.openSlide {
  opacity: 1;
}
.box-comments {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}
.box-comments h3 {
  color: var(--color-primario);
}
.mi-comment {
  width: 100%;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.mi-comment h4 {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 10px 0;
}
.mi-comment textarea {
  width: 99%;
  height: 100px;
  resize: none;
  border: none;
  border-radius: 20px;
  background-color: transparent;
}
.other-comments {
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100px;
}
.other-comments h4 {
  width: 100%;
  border-bottom: 1px solid black;
  margin: 10px 0;
}
.banner {
  padding: 20px 0;
  height: auto;
  width: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.banner img {
  margin-bottom: 15px;
  height: 600px;
  box-shadow: 0 0 5px 1px black;
}
.banner img:hover {
  cursor: pointer;
  scale: 1.005;
}
