@import url(./styles/BurgerMenu.css);
@font-face {
  font-family: "RobotoRegular";
  src: url("./asset/fonts/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "RobotoMonoRegular";
  src: url("./asset/fonts/Roboto_Mono/RobotoMono-Regular.ttf");
}
:root {
  --color-fondo: #242424;
  --color-primario: #72bf44;
  --color-secundario: #da7d4e;
  --color-acento: #9a378a;
}
/* Estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 10px;
  background-color: #242424;
}
/* Estilo del control deslizante (la parte que puedes arrastrar) */
::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 6px;
}
/* Cambiar el color de fondo de la barra de desplazamiento en hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
/* Estilo de la barra de desplazamiento cuando está en modo activo (arrastrando) */
::-webkit-scrollbar-thumb:active {
  background-color: #777;
}
body {
  margin: 0;
  padding: 0;
  font-family: "RobotoRegular";
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: var(--color-fondo);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}
.box-mini-logo {
  height: 100%;
  width: auto;
  text-decoration: none;
  transition: all 1s ease-in-out;
}
.box-mini-logo:hover {
  cursor: pointer;
}
.mini-logo {
  height: 90%;
  width: auto;
}
.contain-cart-user {
  display: flex;
  width: 70px;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.cart {
  height: 25px;
  transition: all 0.1s ease;
}
.cart:hover {
  cursor: pointer;
}
.cart:active {
  scale: 1.2;
}
.box-logo {
  display: none;
}
.logo {
  display: none;
}
.btn-user {
  display: none;
}
main {
  width: 100%;
  height: auto;
  display: flex;
}
.main {
  width: 100%;
  height: 100%;
  margin-top: 70px;
}
.box-categories {
  margin-top: 70px;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--color-fondo);
  left: -200px;
  opacity: 0;
  transition: all 0.5s ease;
}
.box-categories.open {
  left: 0;
  opacity: 1;
  z-index: 2;
}
.box-categories ul {
  color: white;
  list-style: none;
  padding: 0;
  margin-left: 20px;
  columns: 2;
}
.category {
  width: 70%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: all 0.1s ease;
}
.category p {
  margin: 0;
  padding: 0;
}
.category img {
  width: 20px;
  height: 20px;
}
.category:active {
  scale: 1.2;
  transform: translateX(10px);
}
.selector {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  align-items: center;
  color: white;
}
.selector h2 {
  margin: 0;
}
.btn-user-mobile {
  display: flex;
  height: 25px;
  width: auto;
  padding: 2px;
  border: 1px solid transparent;
  transition: all 0.1s ease;
}
.btn-user-mobile:active {
  scale: 1.2;
}
.box-search {
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-search {
  height: 30px;
  z-index: 2;
  position: relative;
  left: -50px;
}
.search {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 20px;
  box-shadow: 0 0 10px 1px black;
  height: 40px;
  width: 300px;
  color: white;
}
.search::placeholder {
  color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}
.search:focus {
  border: 3px solid var(--color-primario);
}
#boxSearch {
  display: none;
}
.box-user,
.box-cart {
  display: none;
}
footer {
  width: 100%;
  min-height: 300px;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.description-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "RobotoMonoRegular";
  padding: 20px;
}
.description-footer h3 {
  margin: 10px;
  font-size: 20px;
  color: var(--color-primario);
}
.description-footer p {
  margin: 0;
  text-align: center;
  font-size: 12px;
}
.description-footer p span {
  color: var(--color-primario);
}
.btns-social {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#facebookBtn,
#xBtn,
#instagramBtn {
  display: flex;
  width: 100px;
  justify-content: center;
  gap: 5px;
  color: white;
  border: none;
  font-family: "RobotoRegular";
  padding: 5px 10px;
  border-radius: 20px;
  transition: all 0.1s ease;
}
#facebookBtn {
  background-color: #1977f3;
}
#xBtn {
  background-color: #000000;
}
#instagramBtn {
  background-color: #e1306c;
}
#imgSocial img {
  height: 15px;
  width: 15px;
}
.infoFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
}
/* ------Escritorio---- */
@media screen and (min-width: 660px) {
  header {
    z-index: 8;
  }
  .btn-burger {
    display: none;
  }
  .box-mini-logo {
    display: none;
  }
  .box-logo {
    display: flex;
    height: 100%;
    padding-left: 20px;
    min-width: 230px;
  }
  .logo {
    display: flex;
    height: 90%;
  }
  #boxSearch {
    display: flex;
  }
  #boxSearchMobile {
    display: none;
  }
  .box-search {
    margin-left: 220px;
    width: 300px;
    margin-top: 0;
  }
  .contain-cart-user {
    padding-right: 25px;
    display: flex;
    justify-content: end;
    min-width: 230px;
  }
  .btn-user {
    display: flex;
    height: 25px;
    width: auto;
    transition: all 0.1s ease;
  }
  .btn-user:hover {
    cursor: pointer;
  }
  .btn-user:active {
    scale: 1.2;
  }
  main {
    width: 100%;
  }
  .main {
    margin-left: 200px;
  }
  .box-categories::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento en navegadores WebKit */
  }

  .box-categories::-webkit-scrollbar-thumb {
    background-color: #333333; /* Color del pulgar de la barra de desplazamiento en navegadores WebKit */
  }

  .box-categories::-webkit-scrollbar-thumb:hover {
    background-color: #555555; /* Color del pulgar de la barra de desplazamiento en hover en navegadores WebKit */
  }
  .box-categories {
    width: 200px;
    height: 100vh;
    margin-top: 70px;
    left: 0;
    z-index: 5;
    opacity: 1;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #333333 #999999;
  }
  .box-categories ul {
    margin-bottom: 60px;
    columns: 1;
  }
  .category {
    margin-bottom: 20px;
    transition: transform 0.3s ease;
  }
  .category:hover {
    cursor: pointer;
    transform: translateX(5px);
  }
  .selector {
    display: none;
  }
  .box-cart,
  .box-user {
    position: absolute;
    min-width: 200px;
    min-height: 100px;
    height: auto;
    margin-top: 70px;
    z-index: -1;
    opacity: 0;
    top: -150px;
    border-radius: 0 0 20px 20px;
    background-color: var(--color-fondo);
    box-shadow: 0 0 15px 1px rgb(117, 117, 117);
    transition: all 0.4s ease;
  }
  .box-cart.open,
  .box-user.open {
    top: 0;
    z-index: 7;
    opacity: 1;
    position: fixed;
  }
  .box-user {
    right: 40px;
    display: flex;
    flex-direction: column;
  }
  .box-user ul {
    list-style: none;
    padding: 10px;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
  }
  .box-user li {
    margin-bottom: 10px;
    transition: all 0.1s ease;
  }
  .box-user li:hover {
    cursor: pointer;
    scale: 1.05;
  }
  .box-user a {
    text-decoration: none;
    color: white;
    border-top: 2px solid white;
  }
  .box-user a:hover {
    color: var(--color-primario);
  }
  .box-user p {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
  .box-cart {
    right: 70px;
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .cards-in-cart {
    color: white;
    list-style: none;
    padding: 0;
  }
  .cards-in-cart li {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid white;
  }
  .cart-cards-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  #fallGuys {
    background-image: url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/2x1_NSwitchDS_FallGuys.jpg");
  }
  #csrRacing {
    background-image: url("https://play-lh.googleusercontent.com/9444XLom5uCuPCIUuAtBGr8k92-_80ZU1j_7aPFEs6x9OX6x4pHAnmqY0h5encKBf7SE");
  }
  #fuegoYagua {
    background-image: url("https://www2.minijuegosgratis.com/v3/games/thumbnails/17071_1.jpg");
  }
  .price-total-cart {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: white;
  }
  .price-total-cart p {
    margin: 0;
  }
  .box-btns-cart {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  #emptyCart {
    background-color: transparent;
    color: var(--color-secundario);
    border: 1px solid var(--color-secundario);
  }
  #emptyCart:hover {
    cursor: pointer;
    background-color: var(--color-secundario);
    color: white;
    scale: 1.2;
  }
  #buyBtn,
  #emptyCart {
    font-family: "RobotoRegular";
    padding: 5px 10px;
    border-radius: 20px;
    transition: all 0.1s ease;
  }
  #buyBtn {
    background-color: var(--color-primario);
    border: none;
  }
  #buyBtn:hover {
    cursor: pointer;
    scale: 1.2;
  }
  footer {
    width: calc(100vw - 210px);
    margin-left: 200px;
    z-index: 5;
  }
  .description-footer {
    width: 900px;
  }
  .description-footer h3 {
    font-size: 24px;
  }
  .description-footer p {
    font-size: 16px;
  }
  .infoFooter {
    width: 900px;
    flex-direction: row;
    justify-content: space-between;
  }
  .infoFooter p:hover {
    cursor: pointer;
  }
  .btns-social {
    width: 900px;
    height: 70px;
    justify-content: center;
    gap: 20px;
    transition: all 0.2s ease;
  }
  .btns-social button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  .btns-social button:active {
    scale: 0.95;
  }
  .click-out {
    display: none;

    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 6;
  }
  .click-out.open {
    display: flex;
    position: fixed;
  }
}
