@font-face {
  font-family: "RobotoRegular";
  src: url("./asset/fonts/Roboto/Roboto-Regular.ttf");
}
body {
  margin: 0;
  padding: 0;
  font-family: "RobotoRegular";
}
.header {
  width: 100%;
  height: 80px;
  background-color: #242424;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnBurger {
  height: 100%;
  width: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: all 1s ease;
  transform: rotate(0deg);
}
.btnBurger:hover {
  cursor: pointer;
}
.btnBurger.acti {
  transition: all 1s ease;
  transform: rotate(90deg);
}
.burgerLines {
  height: 4px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
}
#bLine1 {
  transition: all 1s ease;
  transform: rotate(0deg) translate(0px, 0px);
}
#bLine3 {
  transition: all 1s ease;
  transform: rotate(0deg) translate(0px, 0px);
}
#bLine1.acti {
  transition: all 1s ease;
  transform: rotate(30deg) translate(8px, 3px);
  width: 30px;
}
#bLine3.acti {
  transition: all 1s ease;
  transform: rotate(-30deg) translate(8px, -3px);
  width: 30px;
}

.logoResposive {
  height: 100%;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoResposive img,
a {
  width: auto;
  height: 100%;
}
.btnLogin {
  height: 100%;
  width: 80px;
}
/* Esto es para que no aparezca cuando cargo la pagina */
.burgerDesplegableOff {
  display: none;
}
.burgerDesplegable {
  height: 100vh;
  width: 200px;
  background-color: #242424;
  position: absolute;
  display: none;
}
.burgerDesplegable {
  display: flex;
  opacity: 0;
  left: -200px;
  animation: fade-on 0.5s forwards;
}
.burgerDesplegable.hide {
  opacity: 1;
  left: 0px;
  animation: fade-off 0.5s forwards;
}
@keyframes fade-on {
  to {
    opacity: 1;
    transform: translateX(200px);
  }
}
@keyframes fade-off {
  to {
    display: none;
    opacity: 0;
    transform: translateX(-200px);
  }
}

.boxCategories {
  list-style: none;
  width: 100%;
  color: white;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 25px;
}
.boxCategories li {
  display: flex;
  transition: transform 0.5s ease;
}
.boxCategories li:hover {
  cursor: pointer;
  transform: translate(10px);
}
.boxCategories span {
  height: 20px;
  width: 20px;
}
