@font-face {
  font-family: "Lato";
  src: url(./asset/Fonts/Lato-Black.ttf);
}
@font-face {
  font-family: "LatoRegular";
  src: url(./asset/Fonts/Lato-Regular.ttf);
}
* {
  margin: 0;
}
.layerLoading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;

  z-index: 9999;
  transition: opacity 0.5s ease;
}
.layerLoading.close {
  opacity: 0;
  z-index: -1;
}
header {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
header.scrollHeader {
  height: 115px;
  background: linear-gradient(
    180deg,
    #5499f8 0%,
    #5499f8 87.9%,
    #5499f8 87.91%,
    rgba(84, 153, 248, 0.91) 87.92%,
    rgba(84, 153, 248, 0) 100%
  );
}
.headerBox {
  width: 1080px;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.miniLogoBox {
  height: 100%;
  display: flex;
  align-items: center;
}
.miniLogoBox img {
  opacity: 0;
}
.menuBurger {
  width: 200px;
  height: 100%;
  padding-top: 20px;
  box-sizing: border-box;
}
.burgerBtn {
  height: auto;
  width: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.3s ease;
}
.burgerBtn div {
  height: 4px;
  width: 100%;
  background-color: #ffe901;
  border-radius: 111px;
  border: #2981ff solid 4px;
  box-shadow: 4px 5px 0px 0px #02187e, 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}
.lineBurger.hover {
  box-shadow: none;
}
.burgerBtn:hover {
  cursor: pointer;
  transform: translate(4px, 5px);
}
header img {
  height: 68px;
}
.comprarBtnBox {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 20px;
}
.comprarBtn {
  height: 50px;
  width: 200px;
  background-color: #ffe901;
  border-radius: 111px;
  border: 8px solid #2982ff;
  box-sizing: content-box;
  box-shadow: 4px 5px 0px 0px #02187e, 3px 6px 8px 4px rgba(0, 0, 0, 0.15);
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  color: #02187e;
  -webkit-text-stroke: #02187e 1px;
  transition: all 0.3s ease;
}
.comprarBtn:hover {
  cursor: pointer;
  transform: translate(4px, 5px);
  box-shadow: 0px 0px 0px 0px #02187e, 0px 0px 0px 0px rgba(0, 0, 0, 0.15);
  background-color: rgb(252, 235, 48);
  color: #203ec4;
  -webkit-text-stroke: #203ec4 1px;
}
.comprarBtn:active {
  scale: 0.9;
}
main {
  overflow: hidden;
}
.section1 {
  width: 100%;
  height: 761px;
  background-image: url(./asset/img/1-fondoNubes.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  padding-top: 103px;
  position: relative;
}
.centerS1 {
  /* background-color: rgb(190, 102, 102); */
  /* border: 1px solid black; */
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.edificioIzq {
  width: 452px;
  height: 720px;
  background-image: url(./asset/img/edificioIzq.svg);
  position: absolute;
  z-index: 1;
  left: -53px;
  bottom: 0;
}
.edificioCen {
  width: 543.5px;
  height: 213.5px;
  background-image: url(./asset/img/edificioCen.svg);
  position: absolute;
  z-index: 1;
  bottom: 15px;
}
.edificioDer {
  width: 374px;
  height: 727.5px;
  background-image: url(./asset/img/edificioDer.svg);
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
}
.logoBox {
  width: 590px;
  height: 301px;
  position: relative;
  z-index: 10;
}
.logoBox img {
  width: 100%;
  height: 100%;
}
.spidersBox {
  width: 100%;
  display: flex;
  position: relative;
}
.spidersBox img {
  width: 100%;
  height: 100%;
}
.spiderWhite {
  position: absolute;
  top: -10px;
  left: -13px;
  width: 360px;
  height: 444px;
  background-image: url(./asset/img/1-spidermanWhite.png);
}
.spiderNormal {
  position: relative;
  left: 330px;
  top: 20px;
  height: 465px;
  width: 465px;
  background-image: url(./asset/img/1-spidermanNormal.png);
}
.spiderBlack {
  position: absolute;
  left: 630px;
  top: -60px;
  height: 393px;
  width: 393px;
  background-image: url(./asset/img/1-spidermanBlack.png);
}
.telaIzq {
  position: absolute;
  top: -200px;
  left: -400px;
  width: 450.817px;
  height: 1227.274px;
  transform: rotate(65.403deg);
  background-image: url(./asset/img/telaIzq2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index: 4;
}
.telaDer {
  position: absolute;
  width: 600px;
  height: 1300px;
  background-image: url(./asset/img/telaDer2.png);
  transform: rotate(114.597deg);
  top: -430px;
  left: 1345px;
}
/*----section 2----*/
.section2 {
  position: relative; /* 
  background-color: red; */
  width: 100%;
  height: 850px;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.fondoVioleta {
  position: absolute;
  z-index: 1;
  top: -90px;
  width: 100%;
  height: 845px;
  background-color: #8f6aa6;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
}
.centerS2 {
  width: 1080px;
  height: 100%;
  z-index: 2;
  padding-top: 20px;
  position: relative;
  /* border: 1px solid black; */
}
.textS2 {
  width: 646px;
  color: white;
}
.textS2 h2 {
  width: 646px;
  font-family: "LatoRegular";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%;
  margin-bottom: 24px;
}
.textS2 p {
  width: 586px;
  height: 154px;
  color: #fff;
  font-family: "LatoRegular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 25px;
}

.imgBoxS2 {
  width: 751.649px;
  height: 413.131px;
  transform: rotate(-2.222deg);
  border-radius: 26px;
  border: 9px solid #fff;
  background-image: url(./asset/img/imgS2.png);

  /* Drop Shadow */
  box-shadow: 30px 6px 8px 4px rgba(0, 0, 0, 0.15);
}
.duendeVerde {
  position: absolute;
  width: 553px;
  height: 921px;
  background-image: url(./asset/img/duendeVerde.png);
  top: -58px;
  right: -105px;
}

/*----section 3----*/
.section3 {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.centerS3 {
  width: 1080px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  gap: 40.56px;
  align-items: center;
}
.cardsPersonajes {
  height: 544px;
  width: 333px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23.31px;
  opacity: 0;
  transform: translate(0px, 100px);
  transition: all 0.5s ease-in;
}
.cardsPersonajes div {
  width: 332.96px;
  height: 302.691px;
  border-radius: 41px;
  border: 9px solid var(--2982-ff, #2982ff);
  /* Drop Shadow */
  box-shadow: 4px 5px 0px 0px #02187e;
  box-sizing: border-box;
}
#cardP1 {
  transition-delay: 0s;
}
#cardP2 {
  transition-delay: 0.2s;
}
#cardP3 {
  transition-delay: 0.4s;
}
.cardAnim {
  opacity: 1;
  transform: translate(0px, 0px);
}
.imgCardP1 {
  background-image: url(./asset/img/cardP1.png);
}
.imgCardP2 {
  background-image: url(./asset/img/cardP2.png);
}
.imgCardP3 {
  background-image: url(./asset/img/cardP3.png);
}
.cardsPersonajes p {
  width: 333px;
  height: 218px;
  color: #000;
  font-family: "latoregular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*----section 4----*/
.section4 {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.fondoS4 {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-image: url(./asset/img/fondoS4.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.centerS4 {
  z-index: 2;
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cardS4 {
  width: 546.108px;
  height: 326.509px;
  position: absolute;
  background-size: cover;
}
#ghosSpiderCard1 {
  z-index: 2;
  top: -90px;
  transform: rotate(-13.078deg);
  background-image: url(./asset/img/cardS41.png);
}
#ghosSpiderCard2 {
  z-index: 3;
  top: 90px;
  background-image: url(./asset/img/cardS42.png);
  transform: rotate(-26.474deg);
}
#ghosSpiderCard3 {
  z-index: 4;
  top: 335px;
  background-image: url(./asset/img/cardS43.png);
  transform: rotate(-36.016deg);
}

/*----section 5----*/
.section5 {
  width: 100%;
  height: 984px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  position: relative;
}
.fondoS5 {
  position: absolute;
  z-index: 1;
  top: -100px;
  width: 100%;
  height: 100%;
  background-color: #000;
  clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 85%);
}
.centerS5 {
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 2;
  padding-top: 140px;
  box-sizing: border-box;
  gap: 55.11px;
}
.centerS5 h2 {
  width: 667px;
  color: #fff;
  font-family: "latoregular";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%;
}
.boxFondoS5 {
  position: relative;
  width: 100%;
  height: 527.626px;
  display: flex;
}
.fondoS5-1 {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(./asset/img/fondoS5.png);
  background-size: cover;
}
.fondoS5-2 {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-image: url(./asset/img/fondoS5-2.png);
  background-size: cover;
}
.flacucho {
  position: relative;
  top: -55px;
  left: 80px;
  z-index: 4;
  width: 451.258px;
  height: 591.442px;
  transform: rotate(-12.483deg);
  background-image: url(./asset/img/flacucho.png);
}
.panteraNegra {
  position: relative;
  z-index: 4;
  top: -220px;
  left: 55px;
  width: 368.308px;
  height: 552.462px;
  transform: rotate(13.615deg);
  background-image: url(./asset/img/pantera.png);
}
.hulk {
  position: absolute;
  z-index: 4;
  top: 125px;
  right: -25px;
  width: 410.106px;
  height: 437.972px;
  transform: rotate(7.515deg);
  background-image: url(./asset/img/hulk.png);
}
.hojitas {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-image: url(./asset/img/fondoS5-3.png);
  background-size: cover;
}

/*----section 6----*/
.section6 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  /* background-color: red; */
}
.centerS6 {
  width: 1080px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* background-color: violet; */
}
.centerS6 h2 {
  font-family: "latoregular";
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 94.5%;
  margin-bottom: 62px;
}
.contenidoS6 {
  width: 100%;
  height: 1650px;
  display: flex;
  justify-content: space-between;
  /* background-color: #02187e; */
}
.boxImgS6 {
  width: 552px;
  height: 1650px;
  /* background-color: #027e02; */
  display: flex;
  flex-direction: column;
  position: absolute;
}
.boxImg2 {
  width: 100%;
  height: auto;
  position: sticky;
  top: 35%;
  /* background-color: #2981ff; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgS6 {
  width: 100%;
  height: 302px;
  border: #000 solid 1px;
  background-image: url(./asset/img/s6-1.png);
}
.boxTexto {
  position: relative;
  left: 601px;
  width: 467px;
  height: auto;
  /* background-color: #ffe901; */
  display: flex;
  flex-direction: column;
  gap: 150px;
  box-sizing: border-box;
}
.boxTexto div {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.boxTexto h3 {
  width: 467px;
  font-family: "latoregular";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
}
.boxTexto p {
  width: 467px;
  font-family: "latoregular";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 94.5%;
}

/*----section 7----*/
.section7 {
  width: 100%;
  height: 477px;
  background-color: #000;
  clip-path: polygon(0 0, 100% 20%, 100% 75%, 0 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.centerS7 {
  width: 1080px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 42px;
}
.centerS7 h2 {
  width: 816px;
  color: #fff;
  font-family: "latoregular";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.centerS7 button {
  width: 292px;
  height: 50px;
}

/*----section 8----*/
.section8 {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  position: relative;
  z-index: 2;
  margin-top: -143px;
  /* top: -143px; */
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
.fondosS8 {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  background-size: 100% 98%;
  background-repeat: no-repeat;
  transition: all 1s ease;
}
.openFondoS8 {
  opacity: 1;
}
.hoverSpiderBlanco {
  background-image: url(./asset/img/hoverBlanco.png);
}
.hoverSpiderNormal {
  background-image: url(./asset/img/hoverNormal.png);
}
.hoverSpiderBlack {
  background-image: url(./asset/img/hoverNegro.png);
}
.centerS8 {
  width: 1080px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 25px;
  position: relative;
}
.boxSpiderBlanco {
  width: 268px;
  height: 416.5px;
  background-image: url(./asset/img/s8-spiderBlanco.svg);
  transition: all 0.3s ease;
  /*  z-index: 2; */
}
.boxSpiderNormal {
  width: 416.5px;
  height: 457.5px;
  background-image: url(./asset/img/s8-spiderNormal.svg);
  transition: all 0.3s ease;
}
.boxSpiderBlack {
  width: 313.5px;
  height: 398.5px;
  background-image: url(./asset/img/s8-spiderBlack.svg);
  transition: all 0.3s ease;
}
.boxSpiderHover {
  scale: 1.2;
  cursor: pointer;
  z-index: 2;
}
.boxSpiderNoHover {
  scale: 0.8;
}
.boxBlur {
  z-index: -1;
}
.boxBlur.open {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  z-index: 1;
}

/*----PopUp----*/
.popUp {
  position: absolute;
  z-index: -1;
  top: 100px;
  width: 100%;
  height: calc(100vh - 100px);
  background-color: #000000;
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s ease;
}
.popUp.open {
  position: fixed;
  z-index: 9;
  opacity: 1;
}
.centerPopUp {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 34px;
}
.imgPopUp {
  width: 284px;
  height: auto;
  background-image: url(./asset/img/Peter.png);
  background-repeat: no-repeat;
  margin-right: 19px;
}
.textPopUp {
  width: 724px;
  color: #fff;
  font-family: "LatoRegular";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textPopUp h3 {
  width: 724px;
  font-size: 60px;
  margin-bottom: 10px;
}
.textPopUp p {
  width: 724px;
  font-size: 20px;
}
.punteado {
  padding-left: 25px;
  padding-bottom: 40px;
}
.punteado li {
  list-style-type: decimal;
  font-size: 20px;
}
.boxBtnPopUp {
  width: 89px;
  height: 100%;
}
.closePopUp {
  width: 89px;
  height: 89px;
  background-image: url(./asset/img/btnClose.svg);
}
.closePopUp:hover {
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0px 0px 10px white;
}
.closePopUp:active {
  scale: 0.9;
}
/* ---Para que no se rompa en la notebook--- */
@media screen and (max-height: 800px) {
  .popUp {
    height: calc(100vh - 100px);
  }
  .textPopUp {
    width: 744px;
    height: 100%;
    overflow-y: scroll;
  }
}

/*----section 9----*/
.section9 {
  width: 100%;
  height: 1296px;
  background-image: url(./asset/img/fondoS9.svg);
  background-size: cover;
  position: relative;
}
.fondoCiudadS9 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 720px;
  background-image: url(./asset/img/ciudadS9.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/*----footer----*/
footer {
  width: 100%;
  height: 678px;
  background-color: #5e5e5d;
}
